<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543089455860-7i78445dlckt4phbbil77gi1b9eul826.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543089455860-7i78445dlckt4phbbil77gi1b9eul826</string>
	<key>API_KEY</key>
	<string>AIzaSyBfUPjMMA8tW8q_gJT0T181dwoWHYEo4H8</string>
	<key>GCM_SENDER_ID</key>
	<string>543089455860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.tcsbank.TinkoffChat</string>
	<key>PROJECT_ID</key>
	<string>tinkoffchat-710f7</string>
	<key>STORAGE_BUCKET</key>
	<string>tinkoffchat-710f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543089455860:ios:b164209dc6fbc55679a4a1</string>
	<key>DATABASE_URL</key>
	<string>https://tinkoffchat-710f7.firebaseio.com</string>
</dict>
</plist>