<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713648112668-4c470fl47g6k3cadluami9dfmive34jo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713648112668-4c470fl47g6k3cadluami9dfmive34jo</string>
	<key>API_KEY</key>
	<string>AIzaSyCHEJI9T0f1PRVRxfamnPsnCXveuZ_AnZo</string>
	<key>GCM_SENDER_ID</key>
	<string>713648112668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.tinkoff.messenger</string>
	<key>PROJECT_ID</key>
	<string>tinkoffmessenger</string>
	<key>STORAGE_BUCKET</key>
	<string>tinkoffmessenger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713648112668:ios:c63c1eb75519367fec0bd9</string>
	<key>DATABASE_URL</key>
	<string>https://tinkoffmessenger.firebaseio.com</string>
</dict>
</plist>